@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Julee&family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.wrapper {
    padding: 30px 0 0;
    background-color: #E9EDEB;
}

.navbar {
    padding: 10px 100px 0;
    background-color: #E9EDEB;
}

.wrapper .navbar-brand {
    font-family: "Alex Brush", cursive;
    font-size: 36px;
}

.wrapper .nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #000000;
}

.nav-link::after {
    content: '';
    display: flex;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #F52D00;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 350ms ease-in;
}

.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;

}
.img-fluid {
    width: 470px;
    height: 630px;
}

.loading-page {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 30px;
}

.loading-text {
    padding-top: 140px;
}

.name {
    display: inline;
    font-family: 'Julee', cursive;
    font-size: 70px;
    border-bottom: 2px solid #F52D00;
}

.quote {
    padding-top: 50px;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.about {
    background-color: #262E40;
    color: #fff;
    margin: 100px -10px 0;
    padding: 80px 50px;
}

.title {
    display: inline;
    font-family: 'Julee', cursive;
    font-size: 60px;
    margin: 30px 150px;
    border-bottom: 2px solid #F52D00;
}

.intro {
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    padding: 20px 40px 30px;
}

.about p {
    padding: 10px;
    font-family: 'Poppins', sans-serif;
}

.hackathon {
    color: #000;
}

.skills {
    margin: 100px 0 0 0;
}

.skill-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 60px 60px 0;
}

.skill {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    justify-content: center;
    align-items: center;
}

.skill-name {
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 70px;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
}

.img {
    width: 150px;
}

.hobbies {
    background-color: #262E40;
    color: #fff;
    margin: 40px -10px 0;
    padding: 80px 50px;
}

.cards {
    padding: 80px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
}

.card {
    width: 320px;
    height: 500px;
    border-radius: 20px;
    border: 8px solid #fff;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.cards .card-body {
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    background-color: #e9edeb48;
    backdrop-filter: blur(4px);
    border-radius: 15px;
    color: #000;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-style: bold;
    transition: 1s;
}

.card:hover .card-body {
    right: 0;
}

.contact_me {
    padding: 80px 10px;
}

.contact {
    position: relative;
    padding: 0 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact_box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    flex-wrap: wrap;
}

.contact-info {
    min-width: 60%;
    display: flex;
    flex-direction: column;
}

.contact-info .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.box .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    height: 60px;
}

.box .text {
    display: flex;
    margin-left: 20px;
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
}

.contactForm {
    padding-top: 60px;
    min-width: 40%;
}

.contactForm h3 {
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}

.inputbox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.inputbox input, .inputbox textarea {
    width: 100%;
    margin: 10px 0;
    padding: 5px 0;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #333;
    background-color: #E9EDEB;
    outline: none;
    resize: none;
}

.inputbox span {
    position: absolute;
    left: 0;
    margin: 10px 0;
    padding: 5px 0;
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.inputbox input:focus ~ span, .inputbox textarea:focus ~ span,
.inputbox input:valid ~ span, .inputbox textarea:valid ~ span {
    color: #F52D00;
    font-size: 12px;
    transform: translateY(-20px);
}

.inputbox input[type="submit"] {
    width: 100px;
    background: #F52D00;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

footer {
    background: #191610;
    height: auto;
    width: 100vw;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.socials ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
}

.socials ul li {
    padding: 0 20px;
}

.socials ul li a {
    text-decoration: none;
    color: #fff;
}

.socials ul li a i {
    font-size: 25px;
    transition: color .4s ease;
}

.socials ul li a:hover i {
    color: #F52D00;
}

.footer-bottom {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    word-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}

@media (max-width: 600px) {
    .wrapper {
        background: #D4DFC7;
    }
    .navbar {
        background: #D4DFC7;
    }
    footer {
        background: #3F3927;
    }
}

@media (max-width: 900px) and (min-width: 600px) {
    .loading-page {
        background: #FEF6C9;
    }
    footer {
        background: #3F3927;
    }
}