@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Julee&display=swap');

body {
    background-color: #E9EDEB;
}

.container {
    padding: 30px 10px 0;
}

.container .navbar-brand {
    font-family: "Alex Brush", cursive;
    font-size: 36px;
}

.container .nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #000000;
}

.nav-link::after {
    content: '';
    display: flex;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #F52D00;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 350ms ease-in;
}

.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;

}

.image {

}

.img-fluid {
    width: 470px;
    height: 630px;
}

.loading-page {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 30px;
}

.loading-text {
    padding-top: 140px;
}

.name {
    font-family: 'Julee', cursive;
    font-size: 70px;
}

.quote {
    padding-top: 50px;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}